* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  max-width: 100vw;
}

/************** 
LAYOUT ************/

header {
  display: flex;
  justify-content: space-between;
}

.hero {
  height: 30%;
  display: inline-block;
}
.header--container {
  margin: 0.5em 1.5em 0em;
  align-items: center;
  grid-area: header;
}
header img {
  width: 2 1.43rem;
  height: 1.43rem;
  align-self: center;
}

nav ul,
.header--line {
  display: flex;
}

nav ul {
  justify-content: end;
}

.header--line {
  justify-content: start;
}

.article--featured {
  background-image: url("./images/article-image-hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
}

.article--featured--title > a {
  text-decoration: none;
  color: white;
  margin-top: 0;
}

.article--recent img {
  width: 100%;
  object-fit: cover;
  text-align: center;
  display: block;
  margin: 0 auto;
}

.articles--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  margin: 0;
}

footer {
  background-color: #202020;
  padding: 1.7em 0;
  text-align: center;
}

/************** 
TYPOGRAPHY ************/

.navbar > li > a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
  text-transform: uppercase;
  margin-left: 1.5em;
  padding: 0 0.5em;
  font-size: 0.75rem;
  font-weight: 600;
}

.header--line h3 {
  padding: 0.2em;
  font-family: "Roboto", sans-serif;
  font-size: 0.84rem;
  font-weight: 700;
}

.article--featured p,
.article--featured h1 {
  color: #fff;
  /* margin: 0 1.25em; */
}

.article--featured h1 {
  font-weight: 700;
  font-size: 2rem;
  margin: 0 auto;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 0.2em;
}
.article--featured--date {
  font-size: 0.75rem;
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 0.2em;
}

.article--featured--intro {
  margin-top: 0.4em;
}

.article--recent {
  margin: 2em 1.25em;
}

.article--date {
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.view--more > a {
  display: block;
  text-align: center;
  margin: 1em auto 2em;
  color: #000;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5;
}

footer p {
  font-size: 0.75rem;
  color: #ececec;
}

/************** 
MEDIA QUERIES ************/

@media (min-width: 570px) {
  .article--featured > p {
    text-align: start;
    max-width: 70%;
    vertical-align: sub;
  }
  .container--read--post {
    margin: 0;
  }
  .article--featured {
    height: 40vh;
    padding-left: 2em;
    padding-top: 10em;
  }

  .article--featured--intro {
    padding-bottom: 2em;
  }
}

/********************************************************************** FEATURED.HTML******************************************************************************

/************** 
LAYOUT ************/

.article--read--featured > img {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  object-fit: cover;
}

.container--read--post {
  margin: 0;
  padding: 1.5em;
}

.article--read--featured > img {
  width: 100%;
}

.recent--posts {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1em;
}

section > h4 {
  text-align: center;
}

.article--recent--read > img {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

main {
  margin: 0 1.5em;
}

.about--me--hero > img {
  margin-top: 1.5em;
}

/********************************************************************** ABOUTME.HTML******************************************************************************/

@media (min-width: 570px) {
  .about--me--hero > img {
    margin-top: 3em;
  }

  main {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
  }
}
